* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background-color: white;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: rgb(27, 31, 34);
  width: 100%;
  height: 60px;
  z-index: 99;
}


.logo_content {
  display: flex;
}

.select-cart {
  display: flex;
  cursor: pointer;
}

.select-cart i {
  color: white;
  font-size: 50px;
  margin-left: 0.2em;
}

.count-div {
  display: none;
  margin-top: 0.7em;
}

.select-cart .count {
  height: 33px;
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 6px;
  background-color: red;
}

.sidebar {
  display: none;
  flex-flow: column;
  position: fixed;
  left: 0;
  top: 3.5em;
  background-color: rgba(11, 11, 11, 0.96);
  min-width: 300px;
  height: 100vh;
  list-style: none;
  z-index: 98;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  margin-top: 3em;
}

.sidebar ul li a i {
  font-size: 30px;
  margin: 0.3em 0.6em;
}

.sidebar ul li a span {
  font-size: 23px;
}

.sidebar ul li i {
  margin: 0.3em 0.6em;
  font-size: 35px;
  color: white;
}

.sidebar ul li span {
  font-size: 23px;
  color: white;
}

.my-cart {
  color: white;
}

.sidebar ul li .count {
  display: none;
  margin-left: 1em;
  padding: 5px;
  border-radius: 6px;
  background-color: red;
}

.category-container {
  display: none;
}

.category-items {
  display: flex;
  flex-flow: row;
  height: 30px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 2em;
  color: white;
  font-size: 20px;
  transition: all .7s ease;
}

#btn-menu {
  font-size: 40px;
  color: white;
}

.search-container {
  display: flex;
}

.search-container #input-product {
  background-color: inherit;
  border-radius: 5px;
  width: 200px;
  padding: 4px;
  margin-right: 0.1em;
  color: white;
}

.logo_content {
  cursor: pointer;
  width: 50px;
}

.search-container #search {
  cursor: pointer;
  font-size: 30px;
  color: white;
  padding: 5px;
  margin-right: 3em;
}

.container-title {
  width: 200px;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
  margin-right: 10em;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.material-icons {
  font-size: 90px;
  color: white;
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  width: 100%;
  height: 100vh;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 1em;
  width: 300px;
  border: 2px solid rgba(128, 128, 128, 0.112);
  border-radius: 5px;
  box-sizing: border-box;
}

.item:hover {
  transform: scale(1.1);
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-size: 10px;
  text-align: center;
}

.item .item__image {
  width: 50%;
}

.item .item__price {
  margin-bottom: 0.6em;
}

.item .item__add {
  background-color: rgb(5, 187, 219);
  border: 0;
  cursor: pointer;
  margin: 0 0 0.6em;
  padding: 10px;
  border-radius: 3px;
  color: white;
}

.cart {
  display: none;
  width: 100%;
  margin-top: 1em;
  /* margin: auto; */
  flex-flow: row;
  align-content: center;
  height: 100vh;
}

.cart .cart__items {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 50%;
  margin: auto;
  height: auto;
  max-height: auto;
  list-style: none;
}

.price-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: rgb(58, 55, 55);
  font-size: 25px;
  margin-bottom: 1em;
  margin-right: 0.3em;
}

.price-wrap span {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
  border-radius: 5px;
}

.cart__item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(152, 158, 151);
  border-radius: 15px;
  min-width: 100%;
  height: 300px;
  margin: 1em 2em ;
  padding: 5px;
}

.img-cart-item {
  width: 200px;
}

.cart-item-title {
  font-size: 20px;
}

.button-x {
  cursor: pointer;
  font-size: 25px;
  padding: 2px;
  color: rgb(66, 62, 62);
  background-color: transparent;
  height: 25px;
  border: 0;
  margin-bottom: 9em;
}

.button-x:hover {
  transform: scale(1.1);
}

.cart-price-wrap {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  width: 30%;
  right: 0;
  padding: 9px;
  background-color: rgb(37, 42, 45);
  border-radius: 12px;
  color: white;
}

.img-button-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
}

.cart-price-wrap .total-price {
  margin-top: 3em;
  font-size: 30px;
}

.cart-price-wrap .empty-cart {
  margin-top: 3em;
  margin-bottom: 2em;
}

.empty-div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  width: 170px;
  height: 35px;
  cursor: pointer;
  padding: 4px;
  box-shadow: 2px 2px rgb(227, 32, 32);
  border-left: 1px grey;
  border: transparent;
  border-radius: 4px;
  background-color: rgb(213, 23, 23);
  font-size: 17px;
  color: rgb(236, 228, 228);
}

.bxs-trash {
  font-size: 40px;
  margin-top: 0.4em;
}

.empty-div:hover {
  transform: scale(1.1);
}

.loading-animation {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(3, 122, 29);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child( 1 ) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child( 1 ):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child( 2 ) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child( 2 ):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child( 3 ) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child( 3 ):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child( 4 ) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child( 4 ):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child( 5 ) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child( 5 ):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child( 6 ) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child( 6 ):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child( 7 ) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child( 7 ):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child( 8 ) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child( 8 ):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes barefectap {
  from {
    left: -300px;
  }

  to {
    left: 0;
  }

}

@keyframes barefectdis {
  from {
    left: 0;
  }

  to {
    left: -300px;
  }
}
